/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS Variables */

:root {
    /* Colors Primary */
    --green-700: hsl(158, 42%, 18%);
    --green-500: hsl(158, 36%, 37%);
    
    /* Neutrals */

    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
} 